$main:#FF79A1;
$text_bg:#fff;

body{
    padding:40px 0;
    text-align:center;
    h1 {
        font-size:3.750rem;
        font-family:'HS-Regular';
        color:$main;
        margin-bottom:20px;
    }
    p {}
    ul {
        border-radius: 30px; border:3px solid $main;
        width:60%; margin:0 auto;
        overflow:hidden;
        li {padding:20px 0;
            p {margin-bottom:10px;}
            p:nth-child(1) {}
            p:nth-child(2) {}
            p:nth-child(3) {}
            p:nth-child(4) {
                span {
                    color:$main;
                }
            }
        }
        li:first-child {
            background-color:$main;
        }
        
    }
}